html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    display: flex;
    height: 100vh;
}

aside {
    flex: 1;
    background-image: url('imgs/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
}

main {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin: 30px;
}

main .form-container {
    flex: 2;
    display: flex;
    justify-content: end;
    flex-direction: column;
}

main .button-container {
    flex: 1;
}

div.odin-logo {
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 25%;
}

div.odin-logo>img {
    height: 100px;
}

@font-face {
    font-family: norse-bold;
    src: url('/fonts/Norse-Bold.otf');
}


span.odin-name {
    font-family: 'norse-bold', sans-serif;
    color: white;
    opacity: 1;
    font-size: 72px;
}

.input {
    display: flex;
    flex-direction: column;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 20px;
}

input {
    height: 30px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #bbb;
}

input:focus-visible {
    border: 1px solid lightblue;
    outline: 1px solid lightblue;
    box-shadow: 2px 2px 2px  lightblue;
}

.input label {
    font-variant: small-caps;
}

hr {
    border: none;
    height: 20px;
    width: calc(100% + 60px);
    height: 50px;
    margin-top: 0;
    border-bottom: 0px solid #1f1209;
    box-shadow: 0px 10px 10px -10px rgb(131, 131, 131);
    margin: -50px auto 20px;
    margin-left: -30px;
}